

    <%= form_with model:@customer, url:customers_update_path, local:true do |f| %>
    <h2>会員情報編集</h2>
     <table>
      <tbody>
         <tr>

    <td><p>氏名</p></td>
    <td><%= f.text_field :last_name %></td>
　<td><%= f.text_field :first_name %></td>
　</tr>
<tr>
   <td> <p>フリガナ</p></td>
   <td><%= f.text_field :last_name_kana %></td>
　<td><%= f.text_field :first_name_kana %></td>
</tr>
<tr>
    <td><p>郵便番号</p></td>
    <td><%= f.text_field :postal_code %></td>
</tr>
<tr>
    <td><p>住所</p></td>
    <td><%= f.text_field :address %></td>
</tr>
<tr>
    <td><p>電話番号</p></td>
    <td><%= f.text_field :telephone_number %></td>
</tr>
<tr>
    <td><p>メールアドレス</p></td>
    <td><%= f.text_field :email %></td>
</tr>
<tr>
    <td><%= f.submit "変更を保存", class: "btn btn-success" %>
    <% end %></td>

    <td><%= link_to "退会する", unsubscribe_path, class: "btn btn-danger " %></td>
             </tr>
    </tbody>
  </table>